* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	/* padding: 20px; */
	background-color: #f4f4f4;
}

h1 {
	margin: 0;
}

button {
	cursor: pointer;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;

	background-color: #f4f4f4;
	z-index: 100;

	width: 100%;

	padding: 1rem;

	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	margin-bottom: 1rem;
}

main {
	margin: 1rem;
}

.warning {
	font-size: 0.6rem;
	color: red;
}

.github-info {
	display: flex;
	justify-content: center;
	gap: 1px;

	border-bottom: 1px solid black;

	text-decoration: none;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	gap: 20px;

	outline: 1px solid #ddd;
	padding: 2rem;
}

.projects.comp {
	gap: 5px;
}

.project.comp div {
	height: min-content;
}

.project {
	position: relative;

	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
	width: 19rem;

	text-decoration: none;
	color: black;

	/* transition: transform 0.3s ease-in-out; */
	transition: scale 0.1s ease-in-out;
}

.project.long {
    display: flex;
    flex-direction: row;

    height: auto;
    width: auto;
}

.project:hover,
.project:focus {
	/* transform: translateY(-10px); */
	scale: 1.05;
}

.project:active {
	filter: brightness(0.9);
}

.project .project-image {
	width: 100%;
	height: 10rem;
	display: block;
	border-bottom: 1px solid #ddd;
}

.project .github-logo {
	width: 1em;
	height: 1em;
	display: inline-block;
}

.project .info {
	padding: 15px;
}

.project .title {
	display: flex;
	justify-content: space-between;
}

.project h3 {
	margin-top: 0;
	margin-bottom: 0rem;
	font-size: 1.2em;
	/* text-decoration: underline; */
}

.project p {
	margin-bottom: 0;
}

#github-foot {
	display: none;
}

@media screen and (max-width: 700px) {
	#github-head {
		display: none;
	}

	#github-foot {
		display: unset;
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	margin-top: 1rem;
	gap: 1rem;

	width: 100%;
}

.inline-image {
	display: inline-block;
	height: 1.3rem;
}

.section-title {
	margin-top: 2rem;
	margin-bottom: 0rem;
}

.about {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 0;
	align-items: center;
}

.about div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about div:has(p) {
	padding: 2rem;
}

.about div:has(img) {
	height: auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 1rem;
}

.clock {
	padding: 2rem;

	width: 100%;
	height: 100%;

	z-index: 1000 !important;
	pointer-events: none;
	cursor: default;
}

@media screen and (max-width: 1400px) {
	.projects:not(.git) {
		display: grid;
		grid-template-columns: 1fr 1fr;

		justify-items: center;
	}

	.about {
		grid-template-columns: 2fr 1fr;
	}

	.clock {
		display: none !important;
	}

	.tic-tac-toe {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.about {
		display: flex;
		align-items: center;

		padding: 1rem;
		height: min-content;
	}

	.about div:has(p),
	.about div:has(img) {
		padding: 0rem;
		margin: 0;
		height: min-content;
	}

    .hidable {
        display: none;
    }
}
