:root {
    --dark-1: #404552;
    --dark-2: #2a2d37;
    --dark-3: #343843;
    --blue-1: #5294e2;
    --dark-4: #5f636a;
}

html, body {
    height: 100%;
    background-color: var(--dark-3);
    color: white;
}

header {
    position: relative;

    height: 10rem;

    background: var(--dark-2);
    color: white;

    border-bottom: 1px solid var(--blue-1);
}

header a {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;
}

header canvas {
    width: 100%;
    height: 100%;
}

nav {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    
    gap: 1px;

    height: 2rem;

    background-color: var(--dark-4);

    border-bottom: 1px solid var(--blue-1);
}

nav a {  
    height: 100%;

    padding: 0 1rem;

    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background-color: #555;
}
